html, body{
    height: 100vh;
    width: 100vw;
    padding: 0;
    margin: 0;;
}


html {
    scroll-snap-type: y mandatory;
    overflow-x: hidden;
}

body {
    font-family: Roboto;
}

h2{
    text-transform: uppercase;
}

a{
    text-decoration: none;
    color: white;
}

.section {
    height: 100vh;
    scroll-snap-align: start;
    scroll-snap-stop: always;
    display : grid;
    grid-template-columns: 5fr 1fr;
} 
nav{
    position: fixed;
    top: 0;
    color: white;
    text-transform: uppercase;
    letter-spacing: 1px;
    width: 100vw;
    backdrop-filter: blur(10px);
}
.navColor {
    border-bottom: 1px solid #15192c;
    display: flex;
    align-items: center;
    background-color: rgba(8, 6, 32, 1);
    z-index: 100;
}



nav ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    height: 10vh;
    gap: 1em;
}
nav li:first-child {
    margin-right: 65em;
}
.welcome{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
text-align: justify;
}
.about{
    background: linear-gradient(-45deg, rgba(2,0,36,1), rgb(51, 4, 146),rgb(85, 0, 255), rgb(166, 0, 255));
    background-size: 400% 400%;
    animation: gradient 8s ease infinite;
}
@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
    
}
.about h2{
    font-family: 'Times New Roman', Times, serif;
    font-size: 10em;
    margin: 0;
}
.welcome div {  
    margin :0;
    width: 25%;
    text-align:center;

}
.work{
    background-color: rgba(8, 6, 32, 1);
}
.tiles {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.dot{
    order : 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top : 22vh;
    padding: 0;
    height: 50vh;
    position: relative;
}
.dot > *{
    border : 5px solid black;
    border-radius: 999px;
    background-color: black;
    margin-bottom: 20px;    
}

.selected {
    border: 6px solid white;
}

.progressDotsBox {
    order :1 ;
    position: fixed;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.progressDots {
    width: 12px;
    height: 12px;
    background-color: black;
    border-radius: 50%;
    margin: 10px 0;
    cursor: pointer;
    background-color: black;
    transition: background-color 0.3s ease; /* Animation de transition de la couleur de fond */
}

.progressDots.active {
    background-color: white;
}

.contact{
    background-color: rgba(8, 6, 32, 1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5em;
    align-items: center;
}
.titleSection{ 
    color: white;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top  : 2em;
    height: 35vh;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.formContainer {
    position: relative;
    bottom : 2em;
    margin-bottom : 1em;
}
.formContainer ul {
    list-style-type: none;
}
.formContainer input,textarea {
    height:10vh;
    width: 20vw;
}
.formContainer  div {
    color : white;
}
/* .button {
    background-color: green;
} */

